server {
    listen       {{ PORT }};
    server_name  {{ ansible_all_ipv4_addresses[1] }};
    autoindex off;

    error_log  logs/www_error.log error;
    access_log logs/www_access.log main;

    location / {
        root	{{ WEBDIR }};
        index  index.php index.html index.htm;
        if ($request_uri ~* .*\$) { access_log logs/404.log;break;}
        if (!-e $request_filename) {
            rewrite  ^(.*)$  /index.php?s=$1  last;
            break;
      }
    }

    fastcgi_intercept_errors on;
    error_page  404             /404.html;

    location ~ \.php$ {
        root           {{ WEBDIR }};
        fastcgi_pass   127.0.0.1:9000;
        fastcgi_index  index.php;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        include        fastcgi_params;
    }
}
